* {
    margin: 0;
    box-sizing: content-box;
    padding: 0;
  }

  .media {
    display: flex;
    justify-content: right;
    background-color: rgb(62, 62, 66);
    gap: 1em;
    padding-right: 10px;
    border: 2px solid wheat;
  }

  .link {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
  }
 .links {
  width: 20px;
 }
 .nav-menu {
  display: flex;
  list-style: none;
  background: white;
  justify-content: space-between;
  margin-left: 0;
}

.nav-menu img {
  width: 200px;
  height: 40px;
  margin: 10px 10px;
}
li {
  list-style: none;
}

.menu-items{
  display: flex;
  gap: 3em;
  padding-top: 20px;
  margin-right: 10px;
}
.menu-items  a{
 text-decoration: none;
 /* color: black;  */
}
.menu-items li:hover {
 color:orangered;
 font: size 20px;
 font-weight: bold;
 border: 4px orange solid;

  
}
.menu-items .fa {
  margin: 4px;
}
.sub-menu{
  display: none;
  position: absolute;
  /* background-color: red; */
  width: 100%;
  z-index: 1;
}
.menu-items li:hover .sub-menu{
  display: flex;
  /* position: absolute; */
  margin-top: 15px;
  
  

}
.menu-items li:hover .sub-menu a{
 color:black;
/* opacity: 1; */
}
.home-page{
  background-image: url(images/convention.jpeg);
}
.home{
  background: whitesmoke;
  opacity:0.9;
}
.greeting {
  padding-top: 80px;
  font-family: 'Lato', sans-serif;
  color: #eb4a10;
  font-size: 10px;
  margin-left: 50px;
}
h1 {
  color:#eb4a10;
  font-size: 40px;
  margin-left: 50px;
  padding-bottom: 20px;
  font-family: 'Lato', sans-serif;
}

.disc {
  border: solid white 3px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 30px;
  margin-bottom: 40px;
  font-family: 'Lato', sans-serif;
}
 .allparts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    row-gap: 1px;
  }
.activities {
  display: flex;
  flex-direction: column;
  background: url("./images/blackBg.jpg");
  padding-bottom: 50px;
}

h2 {
  font-size: 25px;
  text-align: center;
  color: black;
  margin-top: 10px;
  font-family: 'Lato', sans-serif;
}

.part {
  display: flex;
  flex-direction: column;
  border: solid white;
  background: whitesmoke;
  opacity: 1;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 10px;
  gap: 2em;
}

.part img {
  height: 200px;
  width: 300px;
  /* margin-left: 30px;
  margin-top: 20px; */
}

.type {
  color: rgb(230, 60, 30);
  /* margin-top: 0px; */
}
footer{
  background: rgb(31, 31, 61);
  text-align: center;
  color: aliceblue;
}